<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>CR Smart Mirror Available Packages</title>
    </head>
    <body>
        <table border="1">
        <% @packages.each do |package| %>
            <tr> 
                <td><%= package.name %> </td>
                <td><%= package.description %> </td>
                <td><%= package.version %> </td>
                <td><%= package.publication_date %> </td>                
                <td><%= package.status %> </td>
            </tr>
        <% end %>
        </table>        
    </body>
</html